# Core functionality - changes here should be rare!
/src/app.py                   @Anita-kiwi
/src/backend/database.py      @Anita-kiwi
/src/backend/routers/auth.py  @Anita-kiwi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Anita-kiwi
